<template>

    <div>
        <v-row>
            <v-col class="col">
                <v-row>
                    <v-col cols="3"><v-text-field dense label="Search {{ info.resourceName }}..." v-model="filters.search" append-icon="mdi-magnify" solo></v-text-field></v-col>
                    <v-col cols="9"><v-btn :to="{ name: '{{ info.frontendAddPageRouteName }}' }">{{ info.frontendListPageAddResourceText }}</v-btn></v-col>
                </v-row>
            </v-col>
        </v-row>

        <v-row>
            <v-col>
                <v-data-table
                        :headers="headers"
                        :items="items"
                        :items-per-page="10"
                        :options.sync="tableOptions"
                        :server-items-length="totalItems"
                        :loading="loading"
                >
                    <template v-slot:item.actions="{ item }">
                        <v-icon
                                small
                                class="mr-2"
                                @click="$router.push({ name: '{{ info.frontendEditPageRouteName }}', params: {id: item.id} })"
                        >
                            mdi-pencil
                        </v-icon>
                    </template>

                </v-data-table>
            </v-col>
        </v-row>
    </div>

</template>

<script>

    import GetClient from '../../../services/SwaggerClient';
    import VueDataTable from '../../../mixins/VueDataTable';

    export default {

        mixins: [ VueDataTable ],

        data() {
            return {
                headers: [
                    {
                        text: 'id',
                        value: 'id'
                    },
                    {
                        text: 'Actions',
                        value: 'actions',
                        sortable: false
                    }
                ],
            }
        },

        methods: {
            async getItems(options) {
                let client   = await GetClient();
                let response = await client.apis['{{ info.resourceTag }}'].{{ info.getItemsOperationMethodName }}(options);

                return response.body;
            }
        },

    }

</script>